* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

/* -- SMALL SCREENS -- */

[class*="col"] {
	float: left;
	padding: 15px;
	display: block;
	width: 100%;
	text-align: center;
}

/* -- END OF SMALL SCREENS -- */

/* -- MEDIUM SCREENS -- */

@media only screen and (min-width: 600px){
	.col.med1 { width: 8.33%; }
	.col.med2 { width: 16.66%; }
	.col.med3 { width: 25%; }
	.col.med4 { width: 33.33%; }
	.col.med5 { width: 41.66%; }
	.col.med6 { width: 50%; }
	.col.med7 { width: 58.33%; }
	.col.med8 { width: 66.66%; }
	.col.med9 { width: 75%; }
	.col.med10 { width: 83.33%; }
	.col.med11 { width: 91.66%; }
	.col.med12 { width: 100%; }
}

/* -- END OF MEDIUM SCREENS -- */

/* -- LARGE SCREENS -- */

@media only screen and (min-width: 768px){
	.col.lrg1 { width: 8.33%; }
	.col.lrg2 { width: 16.66%; }
	.col.lrg3 { width: 25%; }
	.col.lrg4 { width: 33.33%; }
	.col.lrg5 { width: 41.66%; }
	.col.lrg6 { width: 50%; }
	.col.lrg7 { width: 58.33%; }
	.col.lrg8 { width: 66.66%; }
	.col.lrg9 { width: 75%; }
	.col.lrg10 { width: 83.33%; }
	.col.lrg11 { width: 91.66%; }
	.col.lrg12 { width: 100%; }
}

/* -- END OF LARGE SCREENS -- */